# Environment variables
.env

# Python compilation
__pycache__/
*.pyc

# Local environments
.venv/
.idea/

# Jupyter
.ipynb_checkpoints/

# Proprietary Training Code
notebooks/
old/
scripts/train.py
scripts/verify_behavior.py
